* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #363945;
  color: white;
}

main {
  border: 5px solid gray;
  max-width: 600px;
  margin: 50px auto;
}

.meu-nome {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#foto-portifolio {
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

#breve-resumo {
  margin-bottom: 30px;
}

.social-media {
  text-align: center;
  margin: 10px 0;
}

.social-media a {
  margin: 15px;
  display: inline-block;
}

.social-media img:hover {
  width: 100px;
  transition: 0.5s;
}

.place {
  font-weight: 600;
}

h2 {
  text-align: center;
  font-size: 2em;
  color: #fff;
}

h3 {
  text-align: center;
  margin: 20px;
  font-size: 2em;
}

p {
  text-align: center;
  font-size: 25px;
  padding: 20px;
  color: #fff;
}

.resume {
  text-align: center;
}

.resume-list {
  display: inline-block;
  padding: 10px;
  margin: 20px;
  background-color: rgba(182, 179, 179, 0.459);
  border-radius: 15%;
}

.skills {
  text-align: center;
}

.container-skills {
  margin: 0px auto;
  display: inline-block;
  text-align: center;
}

.container-skills-list {
  text-align: center;
}

.extra-links {
  text-align: center;
}

.extra-links-list {
  display: inline-block;
  padding: 10px;
  margin: 20px;
  background-color: rgba(182, 179, 179, 0.459);
  border-radius: 15%;
  width: 30%;
  text-decoration: none;
}

li {
  font-size: 25px;
  color: #fff;
}

a {
  color: white;
  text-decoration: none;
}

.container-skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

i {
  font-size: 55px;
  margin: 20px;
  opacity: 0.8;
  transition: 0.5s;
}

i:hover {
  font-size: 80px;
}

.fa-git {
  color: orange;
}

.fa-html5 {
  color: rgb(255, 72, 0);
}

.fa-css3-alt {
  color: rgb(9, 53, 248);
}

.fa-js {
  color: rgb(248, 248, 62);
}