* {
    margin: 0;
    padding: 0;
}

body {
  background-image: url(wallpaper/synthwave.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}
/* body {
    background-image: url(wallpaper/matrix.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
} */

main {
  border: 5px solid rgba(117, 0, 128, 0.644);
  max-width: 600px;
  margin: 50px auto;
}

.meu-nome{
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#foto-portifolio{
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

#breve-resumo {
  margin-bottom: 30px;
}

.social-media{
  text-align: center;
  margin: 10px 0;
}

.social-media a {
  margin: 15px;
  display: inline-block;
}

.place {
  font-weight: 600;
}

h2 {
  text-align: center;
  font-size: 2em;
  color: #fff;
}

h3 {
  text-align: center;
  margin: 20px;
  font-size: 2em;
}

p {
  text-align: center;
  font-size: 25px;
  padding: 20px;
  color: #fff;
}

.resume{
  text-align: center;
}

.resume-list {
  display: inline-block;
  padding: 10px;
  margin: 20px;
  background-color: rgba(117, 0, 128, 0.644);
  border-radius: 15%;
}

.skills {
  text-align: center;
}

.container-skills {
  margin: 0px auto;
  display: inline-block;
  text-align: center;
}

.container-skills-list {
  text-align: center;
}

.extra-links {
  text-align: center;
}

.extra-links-list {
  display: inline-block;
  padding: 10px;
  margin: 20px 30px 20px 0;
  background-color: rgba(117, 0, 128, 0.644);
  border-radius: 15%;
  width: 30%;
  text-decoration: none;
}

li {
  font-size: 25px;
  color: #fff;
}

a {
    color: white;
    text-decoration: none;
}
