* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(wallpaper/matrix.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}
.meu-nome{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#foto-portifolio{
    text-align: center;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
#breve-resumo {
    margin-bottom: 30px;
}
.place {
    font-weight: 600;
}
h2 {
    text-align: center;
    font-size: 3em;
}
h3 {
    text-align: center;
    margin: 20px;
}
p {
    text-align: center;
    font-size: 25px;
    padding: 20px;
}
.container{
    text-align: center;
    margin: 30px 0;
}
.container-index {
    display: inline-block;
    padding: 30px;
}
.container-skills {
    margin: 0px auto;
    display: inline-block;
    text-align: left;
}
.container-skills-list {
    text-align: center;
}
  li {
    font-size: 25px;
}
  a {
      color: white;
  }

